In [7]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [8]:
sales = pd.read_csv('sales-cars.csv')
sales.head()

     Month  Sales
0  2016-01    266
1  2016-02    146
2  2016-03    183
3  2016-04    119
4  2016-05    180

In [11]:
sales['Month'] = pd.to_datetime(sales['Month'],infer_datetime_format=True)
sales = sales.set_index(['Month'])

In [15]:
print(sales.head())
print("rows and columns",sales.shape)

            Sales
Month
2016-01-01    266
2016-02-01    146
2016-03-01    183
2016-04-01    119
2016-05-01    180
rows and columns (36, 1)